%h4.text-center Register
= form_tag(register_path, class: "form-horizontal") do 
	.form-group
		= label_tag 'student_id', class: "control-label col-sm-4" do
			%i.glyphicon.glyphicon-user
		.col-sm-4
			= text_field_tag 'student_id', nil, class: "form-control"
	.form-group
		= label_tag 'password', class: "control-label col-sm-4" do
			%i.glyphicon.glyphicon-lock
		.col-sm-4
			= text_field_tag 'password', nil, class: "form-control"
	.form-group
		= label_tag :username, "用户昵称", class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :username, nil, class: "form-control"
	.form-group
		= label_tag :classgrade, "班级", class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :classgrade, nil, class: "form-control"
	.form-group
		= label_tag :dormitory, "宿舍", class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :dormitory, nil, class: "form-control"
	.form-group
		= label_tag :qq, "QQ", class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :qq, nil, class: "form-control"
	.form-group
		= label_tag :phone, "电话", class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :phone, nil, class: "form-control"
	.form-group
		= label_tag :signature, "个性签名", class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :signature, nil, class: "form-control"
	.form-group
		.col-sm-4.col-sm-offset-4
			= submit_tag nil, class: "form-control btn btn-primary"