%h4.text-center= t('Register')
= form_tag(register_path, class: "form-horizontal") do 
	.form-group
		= label_tag :student_id, t('StudentID'), class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag 'student_id', nil, class: "form-control", required: true, autofocus: true
	.form-group
		= label_tag :password, t('Password'), class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag 'password', nil, class: "form-control", required: true
	.form-group
		= label_tag :username, t("User"), class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :username, nil, class: "form-control", required: true
	.form-group
		= label_tag :classgrade, t("Class"), class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :classgrade, nil, class: "form-control", required: true
	.form-group
		= label_tag :dormitory, t("Dormitory"), class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :dormitory, nil, class: "form-control", required: true
	.form-group
		= label_tag :qq, "QQ", class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :qq, nil, class: "form-control", required: true
	.form-group
		= label_tag :phone, t("Phone"), class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :phone, nil, class: "form-control", required: true
	.form-group
		= label_tag :signature, t("Signature"), class: "control-label col-sm-4"
		.col-sm-4
			= text_field_tag :signature, nil, class: "form-control"
	.form-group
		.col-sm-4.col-sm-offset-4
			= submit_tag t('Register'), class: "form-control btn btn-primary"