.col-sm-6.col-sm-push-3
	.panel.panel-default
		.panel-heading.text-center= @contest.id
		%table.table.table-bordered
			%tbody
				%tr
					%th.col-sm-6 Start Time
					%td.col-sm-6= @contest.start_time
				%tr
					%th End Time
					%td= @contest.end_time
				%tr
					%th People Number
					%td= @contest.end_time
				%tr
					%th Address
					%td= @contest.end_time