= form_for([:admin, @contest], html: {class: "form-horizontal"}) do |f|
	.form-group
		= f.label(:title, t('Title'), class: "control-label col-sm-4")
		.col-sm-4
			= f.text_field(:title, class: "form-control")
	.form-group
		= f.label(:start_time, t('Start Time'), class: "control-label col-sm-4")
		.col-sm-4
			= f.text_field(:start_time, class: "form-control")
	.form-group
		= f.label(:end_time, t('End Time'), class: "control-label col-sm-4")
		.col-sm-4
			= f.text_field(:end_time, class: "form-control")
	.form-group
		= f.label(:address, t('Address'), class: "control-label col-sm-4")
		.col-sm-4
			= f.text_field(:address, class: "form-control")
	.form-group
		= f.label(:remark, t('Remark'), class: "control-label col-sm-4")
		.col-sm-4
			= f.text_field(:remark, class: "form-control")
	.form-group
		.col-sm-4.col-sm-offset-4
			= f.submit(nil, class: "form-control btn btn-primary")
