<h4>比赛列表</h4>
<table class="table table-stripped table-bordered table-hover datatable">
  <thead>
    <tr>
      <th>比赛号</th> 
      <th>比赛标题</th> 
      <th>说明</th> 
      <th>开始时间</th> 
      <th>结束时间</th>
      <th>时长</th>
      <th>创建时间</th> 
      <th>比赛状态</th>
      <th>是否公开</th>
      <th>发布者</th>
     <th>操作</th> 
    </tr>
  </thead>
  <tbody>
  <% @contests.each do |contest| %>
  <tr>
    <td><%= contest.id %></td>
    <td><%= contest.title %></td>
    <td><%= contest.remark %></td>
    <td><%= contest.start_time %></td>
    <td><%= contest.end_time %></td>
    <td><%= contest.duration %></td>
    <td><%= contest.created_at %></td>
    <td><%= contest.status %></td>
    <td><%= contest.is_publish %></td>
    <td><%= contest.publisher %></td>
    <td>
    <%= link_to("修改", edit_contest_path(contest), class: "btn btn-warning btn-sm") %>
    <%= link_to("删除", contest_path(contest), class: "btn btn-danger btn-sm", method: :delete )%>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<br>
