= form_for([:admin,@manager], html: {class: "form-horizontal"}) do |f|
	.form-group
		= f.label :username, "Hello", class: "control-label col-sm-4 "
		.col-sm-4
			= f.text_field :username,  class: "form-control"
	.form-group
		= f.label :password, class: "control-label col-sm-4 "
		.col-sm-4		
			= f.password_field :password, class: "form-control"
	.form-group
		= f.label :role, class: "control-label col-sm-4"
		.col-sm-4
			= f.text_field :role, class: "form-control"
	.form-group
		= f.label :remark, class: "control-label col-sm-4"
		.col-sm-4
			= f.text_field :remark, class: "form-control"
	.form-group
		.col-sm-4.col-sm-offset-4
			= f.submit "提交", class: "btn btn-primary form-control"
