.panel.panel-default
	.panel-heading.text-center 
		= @problem.total_name
	%table.table.table-striped
		%tbody
			%tr
				%th= t('Time')
				%td= @problem.time
			%tr
				%th= t('Space')
				%td= @problem.space
			%tr
				%th= t('AC')
				%td= @problem_detail.ac
			%tr
				%th= t('Submit')
				%td= @problem_detail.submit
			%tr
				%th= t('Difficulty')
				%td= @problem.difficulty
			%tr
				%th= t('Last Person')
				%td= @problem_detail.last_person
.cards
	.btn-toolbar
		.btn-group-vertical
			= link_to problem_path(@problem), class: "btn btn-primary" do
				%span.card-content= t('Show')
			= link_to rand_problem_path(@problem), class: "btn btn-primary" do
				%span.card-content= t('Rand')
			= link_to judge_problem_path(@problem), class: "btn btn-primary" do
				%span.card-content= t('Go')
			= link_to comment_problem_path(@problem), class: "btn btn-primary" do
				%span.card-content= t('Say')
			= link_to t('Prev'), prev_problem_path, class: "btn btn-info"
			= link_to t('Next'), next_problem_path, class: "btn btn-info"