.panel.panel-default
	.panel-heading.text-center 
		= @problem.total_name(current_locale)
	%table.table.table-striped
		%tbody
			%tr
				%th= t('TimeLimit')
				%td= @problem.time
			%tr
				%th= t('SpaceLimit')
				%td= @problem.space
			%tr
				%th= t('ACNum')
				%td= @problem_detail.ac
			%tr
				%th= t('SubmitNum')
				%td= @problem_detail.submit
			%tr
				%th= t('PassRatio')
				%td= @problem_detail.pass_ratio
			%tr
				%th= t('Difficulty')
				%td= @problem.difficulty
			%tr
				%th= t('LastPerson')
				%td= @problem_detail.last_person
.cards
	.btn-toolbar
		.btn-group-vertical
			= link_to problem_path(@problem), class: "btn btn-primary" do
				%span.card-content= t('Show')
			= link_to rand_problem_path(@problem), class: "btn btn-primary" do
				%span.card-content= t('Rand')
			= link_to judge_problem_path(@problem), class: "btn btn-info" do
				%span.card-content= t('Go')
			= link_to comment_problem_path(@problem), class: "btn btn-info" do
				%span.card-content= t('Say')
			= link_to t('Prev'), prev_problem_path, class: "btn btn-primary"
			= link_to t('Next'), next_problem_path, class: "btn btn-primary"