- if current_locale != :en && File.exists?("#{PROBLEM_PATH}/zh/#{params[:id]}.md")
	= markdown(render file: "#{PROBLEM_PATH}/zh/#{params[:id]}.md")
- else
	= markdown(render file: "#{PROBLEM_PATH}/en/1000.md")