.col-sm-5.col-sm-offset-3
  = simple_form_for([:admin, @problem], html:{class:'form-horizontal'}, wrapper: :horizontal_form) do |f|
    = f.input :problem_id
    = f.input :title
    = f.input :description, as: :file 
    = f.input :description_cache, as: :hidden
    = f.input :testdata, as: :file 
    = f.input :testdata_cache, as: :hidden
    = f.button :submit , value: "提交", class: "col-sm-9 col-sm-offset-3 btn"
