= form_tag(password_path, method: :patch, class: "form-horizontal") do
	.form-group
		= label_tag 'old_password', nil, class: "control-label col-sm-4"
		.col-sm-4
			= password_field_tag 'old_password', nil, class: "form-control"
	.form-group
		= label_tag 'new_password', nil, class: "control-label col-sm-4"
		.col-sm-4
			= password_field_tag 'new_password', nil, class: "form-control"
	.form-group
		= label_tag 'password_confirmation', nil, class: "control-label col-sm-4"
		.col-sm-4
			= password_field_tag 'password_confirmation', nil, class: "form-control"
	.form-group
		.col-sm-4.col-sm-offset-4
			= submit_tag nil, class: "form-control btn btn-primary"