<h4>登录</h4>
<div class="col-sm-4 col-sm-offset-4">
<%= simple_form_for(:signin, url: create_login_session_path, html:{class:'form-horizontal'}, wrapper: :horizontal_form) do |f|  %>
  
	<%= f.input :student_id, label: raw("<i class='glyphicon glyphicon-user'></i>") %>
	<%= f.input :password, label: "密码" %>
  <%= f.input :remember_me, as: :boolean, inline_label: "remember_me" %>
	<%= f.button :submit, value: "登录", class: "col-sm-4 col-sm-offset-4 btn-primary" %>
<% end %>
 </div>