= form_tag(@profile, url: profile_path, method: :post, class: "form-horizontal")  do
    .form-group
        %label.control-label.col-sm-4 Theme
        .col-sm-4
            = select_tag :theme, options_for_select(%w(default cerulean cosmo cyborg darkly flatly journal lumen paper readable sandstone simplex slate spacelab superhero united yeti), current_theme), class: "form-control"
    .form-group
        %label.control-label.col-sm-4 Mode
        .col-sm-4
            = select_tag :mode, options_for_select(ALLOW_LANGUAGES, @profile.mode), class: "form-control"
    .form-group
        %label.control-label.col-sm-4 Keymap
        .col-sm-4
            = select_tag :keymap, options_for_select(%w(sublime vim emac), @profile.keymap), class: "form-control"
    .form-group
        %label.control-label.col-sm-4 Locale
        .col-sm-4
            = select_tag :locale, options_for_select(%w(en zh), @profile.keymap), class: "form-control"
    .form-group
        .col-sm-4.col-sm-offset-4
            = submit_tag 'Submit', class: "btn btn-primary form-control"
