<div class="col-sm-6 col-sm-offset-3">
<%= form_tag(@profile, method: :post, class: "form-horizontal")  do %>
	<%= hidden_field_tag 'user_id', @profile.user_id %>
	<div class="form-group">
	  <%= @profile.user_id %>
		<label class="control-label col-sm-3">Theme</label>
		<div class="col-sm-6">
		<%= select_tag :theme, options_for_select(%w(default cerulean cosmo cyborg darkly flatly journal lumen paper readable sandstone simplex slate spacelab superhero united yeti), current_theme), class: "form-control"%>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Mode</label>
		<div class="col-sm-6">
		<%= select_tag 'mode', options_for_select(%w(c ruby java python), @profile.mode), class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Keymap</label>
		<div class="col-sm-6">
		<%= select_tag 'keymap', options_for_select(%w(sublime vim emac), @profile.keymap), class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-6 col-sm-offset-3">
			<%= submit_tag 'Submit', class: "btn btn-primary form-control"%>
		</div>
	</div>
<% end %>
</div>