= image_tag(@user.avatar, size: "100", class: " img-circle center-block ")
%h4.text-center= @user.username
%h4.text-center= @user.signature
.col-md-1
.col-md-5
	.panel.panel-info
		.panel-heading.text-center 个人资料信息
		%table.table.table-striped
			%tbody
				%tr
					%th 用户昵称
					%td= @user.username
				%tr
					%th 学号
					%td= @user.student_id
				%tr
					%th 班级
					%td= @user.classgrade
				%tr
					%th 宿舍
					%td= @user.dormitory
				%tr
					%th 电话
					%td= @user.phone
				%tr
					%th 个性签名
					%td= @user.signature
				%tr
					%th Rank
					%td= @user_detail.rank
				%tr
					%th Score
					%td= @user_detail.score
.col-md-5
	.panel.panel-info
		.panel-heading.text-center 错误记录卡
		%table.table.table-striped
			%tbody
				%tr
					%th AC数
					%td= @user_detail.ac
				%tr
					%th 提交数
					%td= @user_detail.submit
				%tr
					%th Wrong Answer
					%td= @user_detail.wa
				%tr
					%th Compilation Error
					%td= @user_detail.ce
				%tr
					%th Runtime Error
					%td= @user_detail.re
				%tr
					%th Time Limit Exceeded
					%td= @user_detail.te
				%tr
					%th Memory Limit Exceeded
					%td= @user_detail.me
				%tr
					%th Output Limit Exceeded
					%td= @user_detail.oe
.col-md-10.col-md-offset-1
	.panel.panel-info
		.panel-heading.text-center AC Records
		%table.table.table-striped
			%tbody
				%tr
					%td 
						- @user_detail.ac_record.each do|pid|
							= link_to(pid, solution_user_path(problem_id: pid))
						%br
.col-md-10.col-md-offset-1
	.panel.panel-info
		.panel-heading.text-center Contest Records
		%table.table.table-striped
			%tbody
				%tr
					%td 
						- @user_detail.contest_records.each do|pid|
							= link_to(pid, problem_contest_path(pid[0..-2], pid[-1]), target: "_blank") 
						%br
