= image_tag(@user.avatar, size: "100", class: " img-circle center-block ")
%h4.text-center= @user.username
%h4.text-center= @user.signature
.col-md-1
.col-md-5
	.panel.panel-info
		.panel-heading.text-center= t "UserInfo"
		%table.table.table-striped
			%tbody
				%tr
					%th= t "User"
					%td= @user.username
				%tr
					%th= t "StudentID"
					%td= @user.student_id
				%tr
					%th= t "Class"
					%td= @user.classgrade
				%tr
					%th= t "Dormitory"
					%td= @user.dormitory
				%tr
					%th= t "Phone"
					%td= @user.phone
				%tr
					%th= t "Signature"
					%td= @user.signature
				%tr
					%th= t "Rank"
					%td= @user_detail.rank
				%tr
					%th= t "Score"
					%td= @user_detail.score
.col-md-5
	.panel.panel-info
		.panel-heading.text-center= t "ErrorRecords"
		%table.table.table-striped
			%tbody
				%tr
					%th AC
					%td= @user_detail.ac
				%tr
					%th Submit
					%td= @user_detail.submit
				%tr
					%th Wrong Answer
					%td= @user_detail.wa
				%tr
					%th Compilation Error
					%td= @user_detail.ce
				%tr
					%th Runtime Error
					%td= @user_detail.re
				%tr
					%th Time Limit Exceeded
					%td= @user_detail.te
				%tr
					%th Memory Limit Exceeded
					%td= @user_detail.me
				%tr
					%th Output Limit Exceeded
					%td= @user_detail.oe
.col-md-10.col-md-offset-1
	.panel.panel-info
		.panel-heading.text-center=  t "ACRecords"
		%table.table.table-striped
			%tbody
				%tr
					%td 
						- @user_detail.ac_record.each do|pid|
							= link_to(pid, solution_user_path(problem_id: pid))
						%br
.col-md-10.col-md-offset-1
	.panel.panel-info
		.panel-heading.text-center= t "ContestRecords"
		%table.table.table-striped
			%tbody
				%tr
					%td 
						- @user_detail.contest_records.each do|pid|
							= link_to(pid, problem_contest_path(pid[0..-2], pid[-1]), target: "_blank") 
						%br
