%table.table.table-hover.datatable{"data-source" => "#{week_rank_path(format: :json)}"}
	%thead
		%tr
			%th= t('Username')
			%th= t('WeekRank')
			%th= t('WeekScore')
			%th= t('GradeRank')
			%th= t('GradeScore')
	%tbody