<link rel="stylesheet" media="all" href="/assets/codemirror/lib/codemirror.css"  />
<link rel="stylesheet" media="all" href="/assets/codemirror/addon/display/fullscreen.css"  />
<script src="/assets/codemirror/lib/codemirror.js"></script>
<%= javascript_include_tag "/assets/codemirror/mode/#{cookies[:mode]}/#{cookies[:mode]}.js" %>
<!-- <script src="/assets/codemirror/mode/ruby/ruby.js"></script> -->
<script src="/assets/codemirror/addon/display/fullscreen.js"></script>
<script src="/assets/codemirror/addon/edit/matchbrackets.js"></script>
<script src="/assets/codemirror/addon/selection/active-line.js"></script>
<%= form_for @code||Code.new, method: :post, class:"form-horizontal" do |f| %>
	<%= f.hidden_field :student_id, value: "#{current_user.student_id}" %>
	<%= f.hidden_field :problem_id, value:"#{@problem.problem_id}" %>
	<div class="form-group">
		<%= f.label :problem_id, "题目号：#{params[:problem_id]}" %>
		<%= f.label :language, "语言" %>
		<%= f.select :language, options_for_select(%w(C C++ Ruby Python PHP Java Go javascript)), onchange: "theme()" %>
	</div>
	<div class="form-group">
		<%= f.text_area :code, id:"code", size: "50"%>
	</div>
	<div class="form-group">
		<%= f.submit value:"提交", class:"btn btn-block btn-success"%>
	</div>
<% end %>
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    lineNumbers: true,
    styleActiveLine: true,
    matchBrackets: true,
	extraKeys:  {
		"F11": function(cm) {
			cm.setOption("fullScreen", !cm.getOption("fullScreen"));
		},
		"Esc": function(cm) {
			if(cm.getOption("fullScreen")) {
				cm.setOption("fullScreen", false);
			}
		}
	}
  });
</script>