<%= form_for @code||Code.new, method: :post, class:"form-horizontal" do |f| %>
	<%= f.hidden_field :student_id, value: "#{current_user.student_id}" %>
	<%= f.hidden_field :problem_id, value:"#{params[:problem_id]}" %>
	<div class="form-group">
		<%= f.label :problem_id, "题目号：#{params[:problem_id]}" %>
		<%= f.label :language, "语言" %>
		<%= f.select :language, options_for_select(%w(g c)) %>
	</div>
	<div class="form-group">
		<%= f.text_area :code, id:"editor", class:"form-control"%>
	</div>
	<div class="form-group">
		<%= f.submit value:"提交", class:"btn btn-block btn-success"%>
	</div>
<% end %>

<script type="text/javascript">
	var editor = new UE.ui.Editor();
	editor.render("editor");
</script>