%table.table.table-hover.datatable{'data-source' => admin_problem_contest_path(format: :json)}
	%thead
		%tr
			%th #
			%th= t('Title')
			%th= t('Time')
			%th= t('Space')
			%th= t('AC')
			%th= t('Submit')
			%th= t('Action')
	%tbody