= link_to 'New', new_admin_contest_problem_path(params[:contest_id]), class: "btn btn-xs pull-right"
%table.table.table-hover.datatable{'data-source' => admin_contest_problems_path(format: :json)}
	%thead
		%tr
			%th #
			%th= t('Title')
			%th= t('Time')
			%th= t('Space')
			%th= t('AC')
			%th= t('Submit')
			%th= t('Action')
	%tbody