= link_to("用户列表", admin_users_path, class: "btn btn-info btn-xs pull-right")
%h4 批量添加
= form_tag(batch_new_admin_users_path, class: "form-horizontal") do
	.form-group
		= label_tag :file, "请上传xls文件", class: "control-label col-sm-4"
		.col-sm-4
			= file_field_tag :file, class: "filestyle"
	.form-group
		.col-sm-4.col-sm-offset-4
			= submit_tag "提交", class: "form-control btn btn-primary"
%p.text-muted
	用户名 学号
