%h4 个人信息
.col-sm-5.col-sm-offset-1
  .panel.panel-success
    .panel-heading
      %h5 基本资料
    %table.table.table-stripped
      %tr
        %th 用户昵称
        %td= @user.username
      %tr
        %th 学号
        %td= @user.student_id
      %tr
        %th 宿舍
        %td= @user.dormitory
      %tr
        %th 电话
        %td= @user.phone
      %tr
        %th 个性签名
        %td= @user.signature
      %tr
        %th AC
        %td
          = @user_detail.ac
      %tr
        %th Submit
        %td= @user_detail.submit
.col-sm-5
  .panel.panel-danger
    .panel-heading
      %h5 错误记录
    %table.table.table-stripped
      %tr
        %th Wrong Answer
        %td= @user_detail.wa
      %tr
        %th Compilation Error
        %td= @user_detail.ce
      %tr
        %th Runtime Error
        %td= @user_detail.re
      %tr
        %th Time Limit Exccedded
        %td= @user_detail.te
      %tr
        %th Memory Limit Exceedded
        %td= @user_detail.me
