%nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			%button.navbar-toggle{'data-toggle' => "collapse", "data-target" => "#example"}
				%span.sr-only change
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to t('SCNUOJ'), root_path, class: "navbar-brand"
		#example.collapse.navbar-collapse
			%ul.nav.navbar-nav.col-sm-offset-2
				%li{class: ("active" if action_name == "home")}= link_to(t('Home'), root_path)   
				%li{class: ("active" if controller_name == "problems")}= link_to(t('Problem'), problems_path)
				%li{class: ("active" if controller_name == "statuses")}= link_to(t('Status'), statuses_path) 
				%li{class: ("active" if controller_name == "ranks" && action_name == "index")}= link_to(t('Rank'), ranks_path) 
				%li{class: ("active" if action_name == "week")}= link_to(t('WeekRank'), week_ranks_path)
				%li{class: ("active" if controller_name == "contests")}= link_to(t('Contest'), contests_path)
				%li{class: ("active" if action_name == "faq")}= link_to(t('FAQ'), faq_path)
			= link_to set_locale_path, method: :post, class: "navbar-right navbar-brand" do
				%li.glyphicon.glyphicon-transfer	
			= form_tag set_theme_path, class: "navbar-right navbar-form" do
				= select_tag :theme, options_for_select(%w(default cerulean cosmo cyborg darkly flatly journal lumen paper readable sandstone simplex slate spacelab superhero united yeti), current_theme), class: "form-control", onchange: "submit()"
			%ul.nav.navbar-nav.navbar-right
				- if current_user
					%li.dropdown
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
							= image_tag(current_user.avatar, size: "20", class: " img-circle")
							%span.caret
						%ul.dropdown-menu{:role => "menu"}
							%li= link_to current_user.username, user_path(current_user)
							%li.divider
							%li= link_to t('Profile'), profile_path
							%li= link_to t('Show'), user_path(current_user)
							%li= link_to t('Edit'), info_path
							%li= link_to t('ChangePassword'), password_path
							%li.divider
							%li= link_to t('Logout'), logout_path, method: "delete"
				- else
					%li{class: ("active" if action_name == "login")}= link_to t('Login'), login_path
					%li{class: ("active" if action_name == "register")}= link_to t('Register'), register_path