<nav class="navbar navbar-inverse">
	<div class="col-sm-4 navbar-brand">
		<%= link_to "SCNUOJ" %> 
	</div>
	<div class="col-sm-5">
		<ul class="nav navbar-nav">
			<li class="active"><%= link_to "首页" %></li>
			<li><%= link_to "题目" %></li>
			<li><%= link_to "状态" %></li>
			<li><%= link_to "排名" %></li>
			<li><%= link_to "比赛" %></li>
		</ul>
	</div>
	<div class="col-sm-2 col-sm-offset-1">
		<ul class="nav navbar-nav">
			<li><%= link_to "登录" %></li>
		</ul>	
	</div>
</nav>