!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		= render_admin_title
		- @theme = current_theme
		= stylesheet_link_tag  'cosmo', media: 'all', 'data-turbolinks-track' => true
		= stylesheet_link_tag    'application', 'data-turbolinks-track' => true
		= stylesheet_link_tag 'admin/common', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= javascript_include_tag 'admin/datatables', 'data-turbolinks-track' => true
		= javascript_include_tag 'admin/common', 'data-turbolinks-track'=> true
		= csrf_meta_tags
	%body
		= render "admin/common/navbar"
		.container-fluid
			.col-sm-2
				= render "admin/common/sidebar"
			#max.col-sm-10.container
				= yield
				- if flash.notice
					.notice= flash.notice 
		= render "admin/common/footer"
