<!DOCTYPE html>
<html>
<head>
	<title>SCNUOJ</title>
	<% I18n.locale = :en %>
  <% @theme = current_theme %>
  <%= stylesheet_link_tag  @theme, media: 'all', 'data-turbolinks-track' => true  %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
	div#max{
		min-height: 470px
	}

</style>
</head>
<body>
	<%= render "common/navbar" %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12" id="max">
				<%= yield %>
			</div>
		</div>
	</div>
	<%= render "common/footer" %>
	<%= javascript_include_tag 'datatable', 'data-turbolinks-track' => true %>
</body>
</html>