<!DOCTYPE html>
<html>
<head>
	<%= render_page_title %>
	<% I18n.locale = :en %>
  	<% @theme = current_theme %>
  	<%= stylesheet_link_tag  @theme, media: 'all', 'data-turbolinks-track' => true  %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true  %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  <style type="text/css">
	div#max{
		min-height: 470px
	}

</style>
</head>
<body>
	<%= render "common/navbar" %>
	<div class="container" id="max">
		<%= yield %>
	</div>
	<%= render "common/footer" %>
	<%= javascript_include_tag 'datatable', 'data-turbolinks-track' => true %>
</body>
</html>